body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

input {
  width: 90%;
  max-width: 400px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.restart{
  background-color: #e43030;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
}

.results{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  background-color: #0abb22;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #1a73e8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1558b0;
}

#message {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #0abb22;
}
